
.tweet{
    background-color: #fff;
    border-color: #cfd9de;
    border-width: 1px;
    border-radius: 16px;
    Padding: 12px;
    border-style: solid;
    display: flex;
    align-items: flex-start;
}

.thumbnail {
    width: 48px;
    height: 48px;
    border-radius: 50%;
 
}
.content{
    margin-left: 12px;
    max-width: calc(100% - 60px);
 
}
.idfield{
    color: #000;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.metadata{
    color: #71767b;
    font-family: sans-serif;
    font-size: 15px;
}
.message {
    color: #0f1419;
    font-family: sans-serif;
    font-size: 15px;
    margin: 2px 0 0 0;
}
.action-row{
    display: flex;
    justify-content: space-between;
    max-width: 425px;
    margin-top: 12px;
}

.icon{
    display: inline-block;
    color: #536471;
    font-size: 16px;
    vertical-align: middle;
}
.action-count{
    display: inline-block;
    color: #536471;
    font-size: 13px;
    margin-left: 12px;
    vertical-align: middle;
}